@-webkit-keyframes text-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes text-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: text-fade-in 1.25s ease-in-out 0s 1 normal forwards running;
          animation: text-fade-in 1.25s ease-in-out 0s 1 normal forwards running;
}

.fade-out {
  -webkit-animation: text-fade-out 1.25s ease-in-out 0s 1 normal forwards running;
          animation: text-fade-out 1.25s ease-in-out 0s 1 normal forwards running;
}

@-webkit-keyframes text-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes text-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes text-bounce-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}

@keyframes text-bounce-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-animation: text-bounce 1.25s ease-in-out 0s 1 normal forwards running;
          animation: text-bounce 1.25s ease-in-out 0s 1 normal forwards running;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #212121;
}

p {
  -webkit-animation: text-fade-out 1.25s ease-in-out 0s 1 normal forwards running;
          animation: text-fade-out 1.25s ease-in-out 0s 1 normal forwards running;
  margin: 0 0 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #212121;
}

a {
  color: #0070f3;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover {
  color: black;
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: text-fade-in 1.25s ease-in-out 0s 1 normal forwards running;
          animation: text-fade-in 1.25s ease-in-out 0s 1 normal forwards running;
}

.fade-out {
  -webkit-animation: text-fade-out 1.25s ease-in-out 0s 1 normal forwards running;
          animation: text-fade-out 1.25s ease-in-out 0s 1 normal forwards running;
}

@keyframes text-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes text-bounce-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */