$body-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font: "FiraCode NF", "Roboto Mono", "SFMono-Regular", Consolas, Menlo,
  monospace;
$code-font: $monospace-font;
